@import url(https://fonts.googleapis.com/css?family=Signika:700,300,600);

h1 {
  font: bold 6rem "Signika", sans-serif;
  user-select: none;
}

h1 span {
  display: inline-block;
  animation: float 0.9s ease-in-out infinite;
}

@keyframes float {
  0%,
  100% {
    transform: none;
  }
  33% {
    transform: translateY(-0.1rem) rotate(-2deg);
  }
  66% {
    transform: translateY(0.1rem) rotate(2deg);
  }
}
h1:hover span {
  animation: bounce 0.6s;
}

@keyframes bounce {
  0%,
  100% {
    transform: translate(0);
  }
  25% {
    transform: rotateX(20deg) translateY(0.2rem) rotate(-3deg);
  }
  50% {
    transform: translateY(-2rem) rotate(3deg) scale(1.1);
  }
}

.Night span:nth-child(4n) {
  color: #d8e8fe;
  text-shadow: 0.1rem 0.1rem #b4d3fd, 0.2rem 0.2rem #b4d3fd,
    0.3rem 0.3rem #b4d3fd, 0.4rem 0.4rem #b4d3fd;
}
.Night span:nth-child(4n-1) {
  color: #c1c9e6;
  text-shadow: 0.1rem 0.1rem #9da9d8, 0.2rem 0.2rem #9da9d8,
    0.3rem 0.3rem #9da9d8, 0.4rem 0.4rem #9da9d8;
}
.Night span:nth-child(4n-2) {
  color: #afaacb;
  text-shadow: 0.1rem 0.1rem #918ab7, 0.2rem 0.2rem #918ab7,
    0.3rem 0.3rem #918ab7, 0.4rem 0.4rem #918ab7;
}
.Night span:nth-child(4n-3) {
  color: #cadaf0;
  text-shadow: 0.1rem 0.1rem #a4bfe5, 0.2rem 0.2rem #a4bfe5,
    0.3rem 0.3rem #a4bfe5, 0.4rem 0.4rem #a4bfe5;
}

.Morning span:nth-child(4n) {
  color: #2b67bb;
  text-shadow: 0.1rem 0.1rem #b4d3fd, 0.2rem 0.2rem #b4d3fd,
    0.3rem 0.3rem #b4d3fd, 0.4rem 0.4rem #b4d3fd;
}
.Morning span:nth-child(4n-1) {
  color: #c1c9e6;
  text-shadow: 0.1rem 0.1rem #9da9d8, 0.2rem 0.2rem #9da9d8,
    0.3rem 0.3rem #9da9d8, 0.4rem 0.4rem #9da9d8;
}
.Morning span:nth-child(4n-2) {
  color: #afaacb;
  text-shadow: 0.1rem 0.1rem #918ab7, 0.2rem 0.2rem #918ab7,
    0.3rem 0.3rem #918ab7, 0.4rem 0.4rem #918ab7;
}
.Morning span:nth-child(4n-3) {
  color: #cadaf0;
  text-shadow: 0.1rem 0.1rem #a4bfe5, 0.2rem 0.2rem #a4bfe5,
    0.3rem 0.3rem #a4bfe5, 0.4rem 0.4rem #a4bfe5;
}



h1 span:nth-child(2) {
  animation-delay: 0.05s;
}
h1 span:nth-child(3) {
  animation-delay: 0.1s;
}
h1 span:nth-child(4) {
  animation-delay: 0.15s;
}
h1 span:nth-child(5) {
  animation-delay: 0.2s;
}
h1 span:nth-child(6) {
  animation-delay: 0.25s;
}
h1 span:nth-child(7) {
  animation-delay: 0.3s;
}
h1 span:nth-child(8) {
  animation-delay: 0.35s;
}
h1 span:nth-child(9) {
  animation-delay: 0.4s;
}
h1 span:nth-child(10) {
  animation-delay: 0.45s;
}
h1 span:nth-child(11) {
  animation-delay: 0.5s;
}
h1 span:nth-child(12) {
  animation-delay: 0.55s;
}
h1 span:nth-child(13) {
  animation-delay: 0.6s;
}
h1 span:nth-child(14) {
  animation-delay: 0.65s;
}
