<div class="content"></div>

<mat-card-header class="card-container" *ngIf="user$ | async; else elseBlock">
  <mat-card-title>{{ displayName }}{{ dayPhrase }}{{ title }}</mat-card-title>
  <mat-card-subtitle style="color: azure">{{
    time$ | async | date: "HH:mm:ss"
  }}</mat-card-subtitle>
  <img src="{{ userPhoto }}" mat-card-avatar />
  <app-logout-button></app-logout-button>
</mat-card-header>

<div *ngIf="dayInfo$ | async"></div>

<ng-template #elseBlock>
  <mat-card-header>
    <app-login-greeting></app-login-greeting>
       <!-- <mat-card-subtitle style="color: azure">{{ time$ | async | date: "h:mm a" }}</mat-card-subtitle> -->
  </mat-card-header>

  <!-- <mat-card-header>
    <mat-card-title> Good {{ dayPhrase }}! </mat-card-title>
    <mat-card-subtitle style="color: azure">{{ time$ | async | date: "h:mm a" }}</mat-card-subtitle>
  </mat-card-header> -->
</ng-template>
