<div class="content" *ngIf="dayMode$ | async"></div>
<!-- {{ dayLight }} -->

<mat-card-header class="card-container"
  *ngIf="user$ | async; else elseBlock"
>
  <mat-card-title>{{ displayName }}{{ title }}</mat-card-title>
  <mat-card-subtitle>{{ time$ | async | date: "HH:mm:ss" }}</mat-card-subtitle>
  <img src="{{ userPhoto }}" mat-card-avatar />
  <app-logout-button></app-logout-button>
</mat-card-header>

<ng-template #elseBlock>
  <!-- <mat-card-header>
    <app-login-greeting></app-login-greeting>
  </mat-card-header> -->

  <mat-card-header>
    <mat-card-title>
      Good {{ dayLight == "AM" ? "Morning" : "Evening" }}!
    </mat-card-title>
    <mat-card-subtitle>{{ time$ | async | date: "h:mm a" }}</mat-card-subtitle>
  </mat-card-header>
</ng-template>


