<div class="content"></div>

<mat-card-header class="card-container" *ngIf="user$ | async; else elseBlock">
  <mat-card-title class="title"
    >{{ displayName }}{{ dayPhrase }}{{ title }}</mat-card-title
  >
  <mat-card-subtitle style="color: azure; font-size: 2rem">{{
    time$ | async | date: "HH:mm:ss"
  }}</mat-card-subtitle>
  <img src="{{ userPhoto }}" mat-card-avatar />
  <app-logout-button></app-logout-button>
</mat-card-header>

<div *ngIf="dayInfo$ | async"></div>

<ng-template #elseBlock>
  <mat-card-header>
    <app-login-greeting></app-login-greeting>
  </mat-card-header>
</ng-template>
