.task {
  background: rgba(255, 255, 255, 0.651);
  margin: 5px;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 5px;
  -webkit-touch-callout:none;
  -webkit-user-select:none;
  -moz-user-select:none;
  -ms-user-select:none;
  user-select:none;
}
.task:hover{
  background: rgba(255, 255, 255, 0.329);
  transition: 0.2s ease-in-out;
}

.task.done {
  
  border-left: 5px solid green;
  background-color: rgba(44, 131, 44, 0.349);
  
}
.task.done:hover {
  border-left: 5px solid green;
  background-color: rgba(25, 128, 25, 0.342);
  transition: 0.5s ease-in-out;
}


.task h3 {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
