.task {
  background: rgba(255, 255, 255, 0.521);
  margin: 0.5rem;
  cursor: pointer;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.task:hover {
  background: rgba(255, 255, 255, 0.329);
  transition: 0.2s ease-in-out;
}

.task.done {
  border-left: 0.5rem solid green;
  background-color: rgba(13, 199, 13, 0.575);
}

.task.done:hover {
  border-left: 0.5rem solid green;
  background-color: rgba(25, 128, 25, 0.342);
  transition: 0.5s ease-in-out;
}

mat-card {
  padding: 0.5rem;
}

h1 {
  font-size: 3.2rem;
}

h2 {
  font-size: 2.4rem;
}

.task-step h2,
.task-icon h1,
.task-text h2,
.task-delete h2 {
  align-items: baseline;
  align-content: center;
  text-align: center;
  margin: 0.5rem;
}

.task-icon h1 {
  padding-left: 1.5rem;
}

.task-text h2 {
  font-size: 2.8rem;
}

.task-delete h1 {
  padding-right: 0.5rem;
}

.task-step h1 {
  font-weight: bold;
}
