.task {
  background: rgba(255, 255, 255, 0.521);
  margin: 5px;
  cursor: pointer;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.task:hover {
  background: rgba(255, 255, 255, 0.329);
  transition: 0.2s ease-in-out;
}

.task.done {
  border-left: 5px solid green;
  background-color: rgba(44, 131, 44, 0.349);
}
.task.done:hover {
  border-left: 5px solid green;
  background-color: rgba(25, 128, 25, 0.342);
  transition: 0.5s ease-in-out;
}

mat-card {
  padding: 5px;
}

.task-step h2,
.task-icon h1,
.task-text h1,
.task-delete h2 {
  align-items: center;
  align-content: center;
  text-align: center;
  margin: 0;
}

.task-icon h1 {
  padding-left: 15px;
}

.task-text h1 {
  font-weight: 500;
}

.task-delete h1 {
  padding-right: 5px;
}

.task-step h1 {
  font-weight: bold;
}
