.container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
}

.greeting { grid-area: 1 / 1 / 2 / 4; }

.google-login { grid-area: 2 / 1 / 3 / 2; }

.facebook-login { grid-area: 2 / 2 / 3 / 3; }

.apple-login { grid-area: 2 / 3 / 3 / 4; }

.sun { grid-area: 1 / 2 / 2 / 3; }
