/* .g-btn {
  background-color: #db4437;
  border: none;
  color: white;
  padding: 20px;
  text-align: center;
  text-decoration: none;
  width: 100%;
  font-size: 16px;
  font-style: bold;
  margin: 2px 2px;
  border-radius: 5px;
} */




* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.buttons {
  /* margin: 10%; */
  text-align: center;
}


.g-btn-hover {
  width: 200px;
  font-size: 16px;
  font-weight: 600;
  color: #fff;
  cursor: pointer;
  margin: 20px;
  height: 55px;
  text-align:center;
  border: none;
  background-size: 300% 100%;
 

  border-radius: 10px;
  moz-transition: all .4s ease-in-out;
  -o-transition: all .4s ease-in-out;
  -webkit-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
}

.g-btn-hover:hover {
  background-position: 100% 0;
  moz-transition: all .4s ease-in-out;
  -o-transition: all .4s ease-in-out;
  -webkit-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
  color: #db4437
}

.g-btn-hover:focus {
  outline: none;
}


.g-btn-hover.color-2 {
  background-image: linear-gradient(to right, #db4437, #db4437, #ffffff, #ffffff);
  box-shadow: 0 4px 15px 0 rgba(90, 88, 88, 0.418);
  ;
}
