/* mat-panel-title {
 font-size:2rem;
} */
.subtiming-name {
  font-weight: 500;
  font-size: 1.8rem;
  margin: 0;
  padding: 0;
}
.subtiming-description {
  font-weight: 400;
  font-size: 1.3rem;
  margin: 0;
  padding: 0;
}

.add-card {
  background: rgba(224, 224, 224, 0.521);
  margin: 0.5rem;
}

.form-input {
  background: #ffffffa6;
  cursor: pointer;
  border-radius: 0.5rem;
  border: none;
  text-align: center;
  justify-content: space-between;
}

.form-content {
  margin-bottom: 1rem;
}

#text,
#step {
  width: 100%;
  height: 5rem;
  margin: 0.5rem;
}

ul {
  list-style-type: none;
  padding: 0;
}
li {
  min-height: 4rem;
}

mat-checkbox ::ng-deep .mat-checkbox-inner-container {
  width: 1.8rem;
  height: 1.8rem;
  margin-right: 0.5rem;
}

::ng-deep .mat-tooltip.Morning {
  background-color: #fce100 !important;
  color: black !important;
  font-size: 2rem !important;
}

::ng-deep .mat-tooltip.Afternoon {
  background-color: #ffb900 !important;
  color: black !important;
  font-size: 2rem !important;
}
::ng-deep .mat-tooltip.Evening {
  background-color: #333666 !important;
  color: white !important;
  font-size: 2rem !important;
}

::ng-deep .mat-tooltip.Night {
  background-color: #1c1e36 !important;
  color: white !important;
  font-size: 2rem !important;
}

.current-emoji {
  font-size: 11rem;
  cursor: pointer;
  border-radius: 0.5rem;
  border: none;
  transition: all 0.2s ease-in-out;
}

.current-emoji:hover {
  transform: scale(1.1) rotate(10deg);
}

.save-btn {
  display: inline-block;
  background: #000;
  color: #fff;
  border: none;
  padding: 1rem 2rem;
  border-radius: 0.55rem;
  cursor: pointer;
  text-decoration: none;
  font-family: inherit;
}

.save-btn:focus {
  outline: none;
}
.save-btn:active {
  transform: scale(0.98);
}
