<mat-expansion-panel class="add-card">
  <mat-expansion-panel-header>
    <mat-panel-title>New Task...</mat-panel-title>
  </mat-expansion-panel-header>

  <form (ngSubmit)="onSubmit()">
    <mat-grid-list class="form-content" cols="6" rows="4">
      <mat-grid-tile colspan="1" rowspan="1">
        <input
          class="form-input"
          type="number"
          name="step"
          [(ngModel)]="step"
          id="step"
          value=""
          placeholder="#"
          autocomplete="off"
        />
      </mat-grid-tile>

      <mat-grid-tile colspan="5" rowspan="1">
        <input
          class="form-input"
          type="text"
          name="text"
          [(ngModel)]="text"
          id="text"
          placeholder="Choose a task name"
          autocomplete="off"
        />
      </mat-grid-tile>

      <mat-grid-tile
        class="current-icon"
        colspan="{{ toggled === true ? '6' : '2' }}"
        rowspan="{{ toggled === true ? rowspan : '2' }}"
      >
        <app-emoji-mart
          (chosenEmoj)="onChosenEmoj($event)"
          (toggeldEmoji)="emojiState($event)"
        ></app-emoji-mart>
      </mat-grid-tile>

      <div *ngIf="!toggled">
        <mat-grid-tile colspan="2" rowspan="2">
          <ul>
            <li *ngFor="let subtiming of subtimings.slice(0, 2)">
              <mat-checkbox
                matTooltip="{{ subtiming.description }}"
                matTooltipClass="{{ subtiming.name }}"
                [matTooltipPosition]="
                  subtiming.name === 'Morning' ? 'above' : 'below'
                "
              >
                <p class="subtiming-name">{{ subtiming.name }}</p>
              </mat-checkbox>
            </li>
          </ul>
        </mat-grid-tile>
        <mat-grid-tile colspan="2" rowspan="2">
          <ul>
            <li *ngFor="let subtiming of subtimings.slice(-2)">
              <mat-checkbox
                matTooltip="{{ subtiming.description }}"
                matTooltipClass="{{ subtiming.name }}"
                [matTooltipPosition]="
                  subtiming.name === 'Evening' ? 'above' : 'below'
                "
              >
                <p class="subtiming-name">{{ subtiming.name }}</p>
              </mat-checkbox>
            </li>
          </ul>
        </mat-grid-tile>
      </div>
    </mat-grid-list>
    <mat-action-row>
      <input type="submit" value="Save Task" class="save-btn" />
    </mat-action-row>
  </form>
</mat-expansion-panel>
