.current-emoji {
  font-size: 110px;
  cursor: pointer;
  border-radius: 5px;
  border: none;
  transition: all 0.2s ease-in-out;
}

.current-emoji:hover {
  transform: scale(1.1) rotate(10deg);
}

.row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 20px;
}

.form-input {
  background: #ffffffa6;
  cursor: pointer;
  border-radius: 5px;
  border: none;
  text-align: center;
}

.form-rows {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.add-form {
    margin-bottom:14px;
    justify-content: space-between;
}

#text {
  width: 100%;
  height: 50px;
}

#step {
  width: 100%;
  height: 50px;
}

.column {
  float: right;

}

.left {
  width: 20%;
}

.right {
  width: 74%;
}


.btn-block {
  display: inline-block;
  background: #000;
  color: #fff;
  border: none;
  padding: 10px 20px;
  margin: 2px;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
  font-size: 15px;
  font-family: inherit;
}
.btn-block:focus {
  outline: none;
}
.btn-block:active {
  transform: scale(0.98);
}

.btn-block {
  display: block;
  width: 100%;
}