<div class="row" *ngIf="showAddTask">
  <div class="current-icon">
    <app-emoji-picker (chosenEmoj)="onChosenEmoj($event)"></app-emoji-picker>
  </div>
  <div class="form-fields">
    <form class="add-form" (ngSubmit)="onSubmit()">
      <div class="form-rows">
        <div class="form-control column left">
          <input
            class="form-input"
            type="number"
            name="step"
            [(ngModel)]="step"
            id="step"
            value=""
            placeholder="#"
            autocomplete="off"
          />
        </div>
        <div class="form-control column right">
          <input
            class="form-input"
            type="text"
            name="text"
            [(ngModel)]="text"
            id="text"
            placeholder="Choose a task name"
            autocomplete="off"
          />
        </div>
      </div>

      <input type="submit" value="Save Task" class="btn-block" />
    </form>
  </div>
</div>
