mat-panel-title {
 font-size:2rem;
}

.add-card {
  background: rgba(224, 224, 224, 0.521);
  margin: 0.5rem;
}

.form-input {
  background: #ffffffa6;
  cursor: pointer;
  border-radius: 0.5rem;
  border: none;
  text-align: center;
  justify-content: space-between;
}

.form-content {
  margin-bottom: 1rem;
}

#text,
#step {
  width: 100%;
  height: 5rem;
  margin: 0.5rem;
}

.checkbox-section {
  margin: 1.2rem 0;
}

.checkbox-margin {
  margin: 0 1.2rem;
}

ul {
  list-style-type: none;
  margin-top: 0.4rem;
}

.current-emoji {
  font-size: 11rem;
  cursor: pointer;
  border-radius: 0.5rem;
  border: none;
  transition: all 0.2s ease-in-out;
}

.current-emoji:hover {
  transform: scale(1.1) rotate(10deg);
}

.save-btn {
  display: inline-block;
  background: #000;
  color: #fff;
  border: none;
  padding: 1rem 2rem;
  border-radius: 0.55rem;
  cursor: pointer;
  text-decoration: none;
  /* font-size: 1.5rem; */
  font-family: inherit;
}

.save-btn:focus {
  outline: none;
}
.save-btn:active {
  transform: scale(0.98);
}
