@import "~@ctrl/ngx-emoji-mart/picker";

html {
  font-family: "Assistant", sans-serif;
  overflow: auto;
  background-color: lightcyan;
}

/* Smartphones (landscape) ----------- */
@media only screen and (min-width: 321px) {
  /* Styles */
  html {
    font-size: 30%;
  }
}
/* Smartphones (portrait) ----------- */
@media only screen and (max-width: 320px) {
  /* Styles */
  html {
    font-size: 25%;
  }
}
/* iPads (portrait and landscape) ----------- */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
  /* Styles */
  html {
    font-size: 31.25%;
  }
}
/* iPads (landscape) ----------- */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) {
  /* Styles */
  html {
    font-size: 45%;
  }
}
/* iPads (portrait) ----------- */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) {
  /* Styles */
  html {
    font-size: 40%;
  }
}
/* Desktops and laptops ----------- */
@media only screen and (min-width: 1025px) {
  /* Styles */
  html {
    font-size: 62.5%;
  }
}
/* Large screens ----------- */
@media only screen and (min-width: 1824px) {
  /* Styles */
  html {
    font-size: 75%;
  }
}
