@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*:focus,
*:active {
  outline: none !important;
  -webkit-tap-highlight-color: transparent;
}

html,
body {
  display: grid;
  height: 100%;
  width: 100%;
  font-family: "Poppins", sans-serif;
  place-items: center;
  background: linear-gradient(315deg, #ffffff, #d7e1ec);
}

.wrapper {
  display: inline-flex;
}

.wrapper .icon {
  position: relative;
  background-color: #ffffff;
  border-radius: 50%;
  padding: 1.5rem;
  margin: 1rem;
  width: 5rem;
  height: 5rem;
  font-size: 1.8rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  box-shadow: 0 1rem 1rem rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: all 0.2s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  color: #333333;
}

.wrapper .tooltip {
  position: absolute;
  top: 0;
  font-size: 1.4rem;
  background-color: #ffffff;
  color: #ffffff;
  padding: 0.5rem 0.8rem;
  border-radius: 0.5rem;
  box-shadow: 0 1rem 1rem rgba(0, 0, 0, 0.1);
  opacity: 0;
  pointer-events: none;
  transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.wrapper .tooltip::before {
  position: absolute;
  content: "";
  height: 0.8rem;
  width: 0.8rem;
  background-color: #ffffff;
  bottom: -0.3rem;
  left: 50%;
  transform: translate(-50%) rotate(45deg);
  transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.wrapper .icon:hover .tooltip {
  top: -4.5rem;
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.wrapper .icon:hover span,
.wrapper .icon:hover .tooltip {
  text-shadow: 0rem -0.1rem 0rem rgba(0, 0, 0, 0.1);
}

.wrapper .microsoft:hover,
.wrapper .microsoft:hover .tooltip,
.wrapper .microsoft:hover .tooltip::before {
  background-color: #ffba01;
  color: #ffffff;
}
